<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.ComputerProblemsMapper" >
  <resultMap id="BaseResultMap" type="com.system.po.ComputerProblems" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="dept" property="dept" jdbcType="VARCHAR" />
    <result column="departCode" property="departcode" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="type_secondary" property="typeSecondary" jdbcType="INTEGER" />
    <result column="leader" property="leader" jdbcType="VARCHAR" />
    <result column="leader_name" property="leaderName" jdbcType="VARCHAR" />
    <result column="reback" property="reback" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="done_time" property="doneTime" jdbcType="VARCHAR" />
    <result column="feedback_content_1" property="feedbackContent1" jdbcType="VARCHAR" />
    <result column="feedback_id_1" property="feedbackId1" jdbcType="CHAR" />
    <result column="feedback_name_1" property="feedbackName1" jdbcType="VARCHAR" />
    <result column="feedback_content_2" property="feedbackContent2" jdbcType="VARCHAR" />
    <result column="feedback_id_2" property="feedbackId2" jdbcType="CHAR" />
    <result column="feedback_name_2" property="feedbackName2" jdbcType="VARCHAR" />
    <result column="feedback_content_3" property="feedbackContent3" jdbcType="VARCHAR" />
    <result column="feedback_id_3" property="feedbackId3" jdbcType="CHAR" />
    <result column="feedback_name_3" property="feedbackName3" jdbcType="VARCHAR" />
    <result column="feedback_content_4" property="feedbackContent4" jdbcType="VARCHAR" />
    <result column="feedback_id_4" property="feedbackId4" jdbcType="CHAR" />
    <result column="feedback_name_4" property="feedbackName4" jdbcType="VARCHAR" />
    <result column="feedback_content_5" property="feedbackContent5" jdbcType="VARCHAR" />
    <result column="feedback_id_5" property="feedbackId5" jdbcType="CHAR" />
    <result column="feedback_name_5" property="feedbackName5" jdbcType="VARCHAR" />
    <result column="fault_urgent" property="faultUrgent" jdbcType="INTEGER" />
    <result column="feedback_time_1" property="feedbackTime1" jdbcType="VARCHAR" />
    <result column="feedback_time_2" property="feedbackTime2" jdbcType="VARCHAR" />
    <result column="feedback_time_3" property="feedbackTime3" jdbcType="VARCHAR" />
    <result column="feedback_time_4" property="feedbackTime4" jdbcType="VARCHAR" />
    <result column="feedback_time_5" property="feedbackTime5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, userId, name, dept, departCode, tel, detail, img, flag, type, type_secondary, 
    leader, leader_name, reback, create_time, done_time, feedback_content_1, feedback_id_1, 
    feedback_name_1, feedback_content_2, feedback_id_2, feedback_name_2, feedback_content_3, 
    feedback_id_3, feedback_name_3, feedback_content_4, feedback_id_4, feedback_name_4, 
    feedback_content_5, feedback_id_5, feedback_name_5, fault_urgent, feedback_time_1, 
    feedback_time_2, feedback_time_3, feedback_time_4, feedback_time_5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.system.po.ComputerProblemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from computer_problems
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from computer_problems
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from computer_problems
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.system.po.ComputerProblemsExample" >
    delete from computer_problems
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.system.po.ComputerProblems" >
    insert into computer_problems (id, title, userId, 
      name, dept, departCode, 
      tel, detail, img, flag, 
      type, type_secondary, leader, 
      leader_name, reback, create_time, 
      done_time, feedback_content_1, feedback_id_1, 
      feedback_name_1, feedback_content_2, feedback_id_2, 
      feedback_name_2, feedback_content_3, feedback_id_3, 
      feedback_name_3, feedback_content_4, feedback_id_4, 
      feedback_name_4, feedback_content_5, feedback_id_5, 
      feedback_name_5, fault_urgent, feedback_time_1, 
      feedback_time_2, feedback_time_3, feedback_time_4, 
      feedback_time_5)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, #{departcode,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{typeSecondary,jdbcType=INTEGER}, #{leader,jdbcType=VARCHAR}, 
      #{leaderName,jdbcType=VARCHAR}, #{reback,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{doneTime,jdbcType=VARCHAR}, #{feedbackContent1,jdbcType=VARCHAR}, #{feedbackId1,jdbcType=CHAR}, 
      #{feedbackName1,jdbcType=VARCHAR}, #{feedbackContent2,jdbcType=VARCHAR}, #{feedbackId2,jdbcType=CHAR}, 
      #{feedbackName2,jdbcType=VARCHAR}, #{feedbackContent3,jdbcType=VARCHAR}, #{feedbackId3,jdbcType=CHAR}, 
      #{feedbackName3,jdbcType=VARCHAR}, #{feedbackContent4,jdbcType=VARCHAR}, #{feedbackId4,jdbcType=CHAR}, 
      #{feedbackName4,jdbcType=VARCHAR}, #{feedbackContent5,jdbcType=VARCHAR}, #{feedbackId5,jdbcType=CHAR}, 
      #{feedbackName5,jdbcType=VARCHAR}, #{faultUrgent,jdbcType=INTEGER}, #{feedbackTime1,jdbcType=VARCHAR}, 
      #{feedbackTime2,jdbcType=VARCHAR}, #{feedbackTime3,jdbcType=VARCHAR}, #{feedbackTime4,jdbcType=VARCHAR}, 
      #{feedbackTime5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.system.po.ComputerProblems" >
    insert into computer_problems
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="departcode != null" >
        departCode,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeSecondary != null" >
        type_secondary,
      </if>
      <if test="leader != null" >
        leader,
      </if>
      <if test="leaderName != null" >
        leader_name,
      </if>
      <if test="reback != null" >
        reback,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="doneTime != null" >
        done_time,
      </if>
      <if test="feedbackContent1 != null" >
        feedback_content_1,
      </if>
      <if test="feedbackId1 != null" >
        feedback_id_1,
      </if>
      <if test="feedbackName1 != null" >
        feedback_name_1,
      </if>
      <if test="feedbackContent2 != null" >
        feedback_content_2,
      </if>
      <if test="feedbackId2 != null" >
        feedback_id_2,
      </if>
      <if test="feedbackName2 != null" >
        feedback_name_2,
      </if>
      <if test="feedbackContent3 != null" >
        feedback_content_3,
      </if>
      <if test="feedbackId3 != null" >
        feedback_id_3,
      </if>
      <if test="feedbackName3 != null" >
        feedback_name_3,
      </if>
      <if test="feedbackContent4 != null" >
        feedback_content_4,
      </if>
      <if test="feedbackId4 != null" >
        feedback_id_4,
      </if>
      <if test="feedbackName4 != null" >
        feedback_name_4,
      </if>
      <if test="feedbackContent5 != null" >
        feedback_content_5,
      </if>
      <if test="feedbackId5 != null" >
        feedback_id_5,
      </if>
      <if test="feedbackName5 != null" >
        feedback_name_5,
      </if>
      <if test="faultUrgent != null" >
        fault_urgent,
      </if>
      <if test="feedbackTime1 != null" >
        feedback_time_1,
      </if>
      <if test="feedbackTime2 != null" >
        feedback_time_2,
      </if>
      <if test="feedbackTime3 != null" >
        feedback_time_3,
      </if>
      <if test="feedbackTime4 != null" >
        feedback_time_4,
      </if>
      <if test="feedbackTime5 != null" >
        feedback_time_5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="departcode != null" >
        #{departcode,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="typeSecondary != null" >
        #{typeSecondary,jdbcType=INTEGER},
      </if>
      <if test="leader != null" >
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leaderName != null" >
        #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="reback != null" >
        #{reback,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="doneTime != null" >
        #{doneTime,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent1 != null" >
        #{feedbackContent1,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId1 != null" >
        #{feedbackId1,jdbcType=CHAR},
      </if>
      <if test="feedbackName1 != null" >
        #{feedbackName1,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent2 != null" >
        #{feedbackContent2,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId2 != null" >
        #{feedbackId2,jdbcType=CHAR},
      </if>
      <if test="feedbackName2 != null" >
        #{feedbackName2,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent3 != null" >
        #{feedbackContent3,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId3 != null" >
        #{feedbackId3,jdbcType=CHAR},
      </if>
      <if test="feedbackName3 != null" >
        #{feedbackName3,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent4 != null" >
        #{feedbackContent4,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId4 != null" >
        #{feedbackId4,jdbcType=CHAR},
      </if>
      <if test="feedbackName4 != null" >
        #{feedbackName4,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent5 != null" >
        #{feedbackContent5,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId5 != null" >
        #{feedbackId5,jdbcType=CHAR},
      </if>
      <if test="feedbackName5 != null" >
        #{feedbackName5,jdbcType=VARCHAR},
      </if>
      <if test="faultUrgent != null" >
        #{faultUrgent,jdbcType=INTEGER},
      </if>
      <if test="feedbackTime1 != null" >
        #{feedbackTime1,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime2 != null" >
        #{feedbackTime2,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime3 != null" >
        #{feedbackTime3,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime4 != null" >
        #{feedbackTime4,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime5 != null" >
        #{feedbackTime5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.system.po.ComputerProblemsExample" resultType="java.lang.Integer" >
    select count(*) from computer_problems
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update computer_problems
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.dept != null" >
        dept = #{record.dept,jdbcType=VARCHAR},
      </if>
      <if test="record.departcode != null" >
        departCode = #{record.departcode,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null" >
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.typeSecondary != null" >
        type_secondary = #{record.typeSecondary,jdbcType=INTEGER},
      </if>
      <if test="record.leader != null" >
        leader = #{record.leader,jdbcType=VARCHAR},
      </if>
      <if test="record.leaderName != null" >
        leader_name = #{record.leaderName,jdbcType=VARCHAR},
      </if>
      <if test="record.reback != null" >
        reback = #{record.reback,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.doneTime != null" >
        done_time = #{record.doneTime,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackContent1 != null" >
        feedback_content_1 = #{record.feedbackContent1,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackId1 != null" >
        feedback_id_1 = #{record.feedbackId1,jdbcType=CHAR},
      </if>
      <if test="record.feedbackName1 != null" >
        feedback_name_1 = #{record.feedbackName1,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackContent2 != null" >
        feedback_content_2 = #{record.feedbackContent2,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackId2 != null" >
        feedback_id_2 = #{record.feedbackId2,jdbcType=CHAR},
      </if>
      <if test="record.feedbackName2 != null" >
        feedback_name_2 = #{record.feedbackName2,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackContent3 != null" >
        feedback_content_3 = #{record.feedbackContent3,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackId3 != null" >
        feedback_id_3 = #{record.feedbackId3,jdbcType=CHAR},
      </if>
      <if test="record.feedbackName3 != null" >
        feedback_name_3 = #{record.feedbackName3,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackContent4 != null" >
        feedback_content_4 = #{record.feedbackContent4,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackId4 != null" >
        feedback_id_4 = #{record.feedbackId4,jdbcType=CHAR},
      </if>
      <if test="record.feedbackName4 != null" >
        feedback_name_4 = #{record.feedbackName4,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackContent5 != null" >
        feedback_content_5 = #{record.feedbackContent5,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackId5 != null" >
        feedback_id_5 = #{record.feedbackId5,jdbcType=CHAR},
      </if>
      <if test="record.feedbackName5 != null" >
        feedback_name_5 = #{record.feedbackName5,jdbcType=VARCHAR},
      </if>
      <if test="record.faultUrgent != null" >
        fault_urgent = #{record.faultUrgent,jdbcType=INTEGER},
      </if>
      <if test="record.feedbackTime1 != null" >
        feedback_time_1 = #{record.feedbackTime1,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackTime2 != null" >
        feedback_time_2 = #{record.feedbackTime2,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackTime3 != null" >
        feedback_time_3 = #{record.feedbackTime3,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackTime4 != null" >
        feedback_time_4 = #{record.feedbackTime4,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackTime5 != null" >
        feedback_time_5 = #{record.feedbackTime5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update computer_problems
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      dept = #{record.dept,jdbcType=VARCHAR},
      departCode = #{record.departcode,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      type_secondary = #{record.typeSecondary,jdbcType=INTEGER},
      leader = #{record.leader,jdbcType=VARCHAR},
      leader_name = #{record.leaderName,jdbcType=VARCHAR},
      reback = #{record.reback,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      done_time = #{record.doneTime,jdbcType=VARCHAR},
      feedback_content_1 = #{record.feedbackContent1,jdbcType=VARCHAR},
      feedback_id_1 = #{record.feedbackId1,jdbcType=CHAR},
      feedback_name_1 = #{record.feedbackName1,jdbcType=VARCHAR},
      feedback_content_2 = #{record.feedbackContent2,jdbcType=VARCHAR},
      feedback_id_2 = #{record.feedbackId2,jdbcType=CHAR},
      feedback_name_2 = #{record.feedbackName2,jdbcType=VARCHAR},
      feedback_content_3 = #{record.feedbackContent3,jdbcType=VARCHAR},
      feedback_id_3 = #{record.feedbackId3,jdbcType=CHAR},
      feedback_name_3 = #{record.feedbackName3,jdbcType=VARCHAR},
      feedback_content_4 = #{record.feedbackContent4,jdbcType=VARCHAR},
      feedback_id_4 = #{record.feedbackId4,jdbcType=CHAR},
      feedback_name_4 = #{record.feedbackName4,jdbcType=VARCHAR},
      feedback_content_5 = #{record.feedbackContent5,jdbcType=VARCHAR},
      feedback_id_5 = #{record.feedbackId5,jdbcType=CHAR},
      feedback_name_5 = #{record.feedbackName5,jdbcType=VARCHAR},
      fault_urgent = #{record.faultUrgent,jdbcType=INTEGER},
      feedback_time_1 = #{record.feedbackTime1,jdbcType=VARCHAR},
      feedback_time_2 = #{record.feedbackTime2,jdbcType=VARCHAR},
      feedback_time_3 = #{record.feedbackTime3,jdbcType=VARCHAR},
      feedback_time_4 = #{record.feedbackTime4,jdbcType=VARCHAR},
      feedback_time_5 = #{record.feedbackTime5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.system.po.ComputerProblems" >
    update computer_problems
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="departcode != null" >
        departCode = #{departcode,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="typeSecondary != null" >
        type_secondary = #{typeSecondary,jdbcType=INTEGER},
      </if>
      <if test="leader != null" >
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leaderName != null" >
        leader_name = #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="reback != null" >
        reback = #{reback,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="doneTime != null" >
        done_time = #{doneTime,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent1 != null" >
        feedback_content_1 = #{feedbackContent1,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId1 != null" >
        feedback_id_1 = #{feedbackId1,jdbcType=CHAR},
      </if>
      <if test="feedbackName1 != null" >
        feedback_name_1 = #{feedbackName1,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent2 != null" >
        feedback_content_2 = #{feedbackContent2,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId2 != null" >
        feedback_id_2 = #{feedbackId2,jdbcType=CHAR},
      </if>
      <if test="feedbackName2 != null" >
        feedback_name_2 = #{feedbackName2,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent3 != null" >
        feedback_content_3 = #{feedbackContent3,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId3 != null" >
        feedback_id_3 = #{feedbackId3,jdbcType=CHAR},
      </if>
      <if test="feedbackName3 != null" >
        feedback_name_3 = #{feedbackName3,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent4 != null" >
        feedback_content_4 = #{feedbackContent4,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId4 != null" >
        feedback_id_4 = #{feedbackId4,jdbcType=CHAR},
      </if>
      <if test="feedbackName4 != null" >
        feedback_name_4 = #{feedbackName4,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent5 != null" >
        feedback_content_5 = #{feedbackContent5,jdbcType=VARCHAR},
      </if>
      <if test="feedbackId5 != null" >
        feedback_id_5 = #{feedbackId5,jdbcType=CHAR},
      </if>
      <if test="feedbackName5 != null" >
        feedback_name_5 = #{feedbackName5,jdbcType=VARCHAR},
      </if>
      <if test="faultUrgent != null" >
        fault_urgent = #{faultUrgent,jdbcType=INTEGER},
      </if>
      <if test="feedbackTime1 != null" >
        feedback_time_1 = #{feedbackTime1,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime2 != null" >
        feedback_time_2 = #{feedbackTime2,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime3 != null" >
        feedback_time_3 = #{feedbackTime3,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime4 != null" >
        feedback_time_4 = #{feedbackTime4,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime5 != null" >
        feedback_time_5 = #{feedbackTime5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.system.po.ComputerProblems" >
    update computer_problems
    set title = #{title,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      departCode = #{departcode,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      type_secondary = #{typeSecondary,jdbcType=INTEGER},
      leader = #{leader,jdbcType=VARCHAR},
      leader_name = #{leaderName,jdbcType=VARCHAR},
      reback = #{reback,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      done_time = #{doneTime,jdbcType=VARCHAR},
      feedback_content_1 = #{feedbackContent1,jdbcType=VARCHAR},
      feedback_id_1 = #{feedbackId1,jdbcType=CHAR},
      feedback_name_1 = #{feedbackName1,jdbcType=VARCHAR},
      feedback_content_2 = #{feedbackContent2,jdbcType=VARCHAR},
      feedback_id_2 = #{feedbackId2,jdbcType=CHAR},
      feedback_name_2 = #{feedbackName2,jdbcType=VARCHAR},
      feedback_content_3 = #{feedbackContent3,jdbcType=VARCHAR},
      feedback_id_3 = #{feedbackId3,jdbcType=CHAR},
      feedback_name_3 = #{feedbackName3,jdbcType=VARCHAR},
      feedback_content_4 = #{feedbackContent4,jdbcType=VARCHAR},
      feedback_id_4 = #{feedbackId4,jdbcType=CHAR},
      feedback_name_4 = #{feedbackName4,jdbcType=VARCHAR},
      feedback_content_5 = #{feedbackContent5,jdbcType=VARCHAR},
      feedback_id_5 = #{feedbackId5,jdbcType=CHAR},
      feedback_name_5 = #{feedbackName5,jdbcType=VARCHAR},
      fault_urgent = #{faultUrgent,jdbcType=INTEGER},
      feedback_time_1 = #{feedbackTime1,jdbcType=VARCHAR},
      feedback_time_2 = #{feedbackTime2,jdbcType=VARCHAR},
      feedback_time_3 = #{feedbackTime3,jdbcType=VARCHAR},
      feedback_time_4 = #{feedbackTime4,jdbcType=VARCHAR},
      feedback_time_5 = #{feedbackTime5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>