<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.PushMessageMapper" >
  <resultMap id="BaseResultMap" type="com.system.po.PushMessage" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="create_code" property="createCode" jdbcType="CHAR" />
    <result column="founder" property="founder" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="push_status" property="pushStatus" jdbcType="CHAR" />
    <result column="push_way" property="pushWay" jdbcType="CHAR" />
    <result column="msg_type" property="msgType" jdbcType="CHAR" />
    <result column="msg_target" property="msgTarget" jdbcType="CHAR" />
    <result column="msg_content_1" property="msgContent1" jdbcType="VARCHAR" />
    <result column="msg_content_2" property="msgContent2" jdbcType="VARCHAR" />
    <result column="msg_content_3" property="msgContent3" jdbcType="VARCHAR" />
    <result column="push_time" property="pushTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, create_code, founder, create_time, push_status, push_way, msg_type, msg_target, 
    msg_content_1, msg_content_2, msg_content_3, push_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.system.po.PushMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from push_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from push_message
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from push_message
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.system.po.PushMessageExample" >
    delete from push_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.system.po.PushMessage" >
    insert into push_message (Id, create_code, founder, 
      create_time, push_status, push_way, 
      msg_type, msg_target, msg_content_1, 
      msg_content_2, msg_content_3, push_time
      )
    values (#{id,jdbcType=INTEGER}, #{createCode,jdbcType=CHAR}, #{founder,jdbcType=CHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{pushStatus,jdbcType=CHAR}, #{pushWay,jdbcType=CHAR}, 
      #{msgType,jdbcType=CHAR}, #{msgTarget,jdbcType=CHAR}, #{msgContent1,jdbcType=VARCHAR}, 
      #{msgContent2,jdbcType=VARCHAR}, #{msgContent3,jdbcType=VARCHAR}, #{pushTime,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.system.po.PushMessage" >
    insert into push_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="createCode != null" >
        create_code,
      </if>
      <if test="founder != null" >
        founder,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="pushStatus != null" >
        push_status,
      </if>
      <if test="pushWay != null" >
        push_way,
      </if>
      <if test="msgType != null" >
        msg_type,
      </if>
      <if test="msgTarget != null" >
        msg_target,
      </if>
      <if test="msgContent1 != null" >
        msg_content_1,
      </if>
      <if test="msgContent2 != null" >
        msg_content_2,
      </if>
      <if test="msgContent3 != null" >
        msg_content_3,
      </if>
      <if test="pushTime != null" >
        push_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createCode != null" >
        #{createCode,jdbcType=CHAR},
      </if>
      <if test="founder != null" >
        #{founder,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="pushStatus != null" >
        #{pushStatus,jdbcType=CHAR},
      </if>
      <if test="pushWay != null" >
        #{pushWay,jdbcType=CHAR},
      </if>
      <if test="msgType != null" >
        #{msgType,jdbcType=CHAR},
      </if>
      <if test="msgTarget != null" >
        #{msgTarget,jdbcType=CHAR},
      </if>
      <if test="msgContent1 != null" >
        #{msgContent1,jdbcType=VARCHAR},
      </if>
      <if test="msgContent2 != null" >
        #{msgContent2,jdbcType=VARCHAR},
      </if>
      <if test="msgContent3 != null" >
        #{msgContent3,jdbcType=VARCHAR},
      </if>
      <if test="pushTime != null" >
        #{pushTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.system.po.PushMessageExample" resultType="java.lang.Integer" >
    select count(*) from push_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update push_message
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createCode != null" >
        create_code = #{record.createCode,jdbcType=CHAR},
      </if>
      <if test="record.founder != null" >
        founder = #{record.founder,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.pushStatus != null" >
        push_status = #{record.pushStatus,jdbcType=CHAR},
      </if>
      <if test="record.pushWay != null" >
        push_way = #{record.pushWay,jdbcType=CHAR},
      </if>
      <if test="record.msgType != null" >
        msg_type = #{record.msgType,jdbcType=CHAR},
      </if>
      <if test="record.msgTarget != null" >
        msg_target = #{record.msgTarget,jdbcType=CHAR},
      </if>
      <if test="record.msgContent1 != null" >
        msg_content_1 = #{record.msgContent1,jdbcType=VARCHAR},
      </if>
      <if test="record.msgContent2 != null" >
        msg_content_2 = #{record.msgContent2,jdbcType=VARCHAR},
      </if>
      <if test="record.msgContent3 != null" >
        msg_content_3 = #{record.msgContent3,jdbcType=VARCHAR},
      </if>
      <if test="record.pushTime != null" >
        push_time = #{record.pushTime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update push_message
    set Id = #{record.id,jdbcType=INTEGER},
      create_code = #{record.createCode,jdbcType=CHAR},
      founder = #{record.founder,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      push_status = #{record.pushStatus,jdbcType=CHAR},
      push_way = #{record.pushWay,jdbcType=CHAR},
      msg_type = #{record.msgType,jdbcType=CHAR},
      msg_target = #{record.msgTarget,jdbcType=CHAR},
      msg_content_1 = #{record.msgContent1,jdbcType=VARCHAR},
      msg_content_2 = #{record.msgContent2,jdbcType=VARCHAR},
      msg_content_3 = #{record.msgContent3,jdbcType=VARCHAR},
      push_time = #{record.pushTime,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.system.po.PushMessage" >
    update push_message
    <set >
      <if test="createCode != null" >
        create_code = #{createCode,jdbcType=CHAR},
      </if>
      <if test="founder != null" >
        founder = #{founder,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="pushStatus != null" >
        push_status = #{pushStatus,jdbcType=CHAR},
      </if>
      <if test="pushWay != null" >
        push_way = #{pushWay,jdbcType=CHAR},
      </if>
      <if test="msgType != null" >
        msg_type = #{msgType,jdbcType=CHAR},
      </if>
      <if test="msgTarget != null" >
        msg_target = #{msgTarget,jdbcType=CHAR},
      </if>
      <if test="msgContent1 != null" >
        msg_content_1 = #{msgContent1,jdbcType=VARCHAR},
      </if>
      <if test="msgContent2 != null" >
        msg_content_2 = #{msgContent2,jdbcType=VARCHAR},
      </if>
      <if test="msgContent3 != null" >
        msg_content_3 = #{msgContent3,jdbcType=VARCHAR},
      </if>
      <if test="pushTime != null" >
        push_time = #{pushTime,jdbcType=CHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.system.po.PushMessage" >
    update push_message
    set create_code = #{createCode,jdbcType=CHAR},
      founder = #{founder,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      push_status = #{pushStatus,jdbcType=CHAR},
      push_way = #{pushWay,jdbcType=CHAR},
      msg_type = #{msgType,jdbcType=CHAR},
      msg_target = #{msgTarget,jdbcType=CHAR},
      msg_content_1 = #{msgContent1,jdbcType=VARCHAR},
      msg_content_2 = #{msgContent2,jdbcType=VARCHAR},
      msg_content_3 = #{msgContent3,jdbcType=VARCHAR},
      push_time = #{pushTime,jdbcType=CHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>