<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

<!--工具类-->
    <context:component-scan base-package="com.system.util.*" />

    <!--PushUtil-->
        <!--创建个推消息工具类（保存记录相关数据以便产生推送)-->
        <bean id="createPushMessage" class="com.system.util.push.CreatePushUtil" scope="singleton"/>

        <!--消息推送工具类(发布推送消息)-->
        <bean id="messagePushUtil" class="com.system.util.push.MessagePushUtil" scope="singleton"/>

        <!--消息拼接生成工具类(生成推送消息)-->
        <bean id="pushSingleUtil" class="com.system.util.push.PushSingleUtil" scope="singleton"/>

        <!--消息拼接生成工具类(生成推送消息)-->
        <bean id="messageStitchUtil" class="com.system.util.push.MessageStitchUtil" scope="singleton"/>

</beans>