<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--加载数据库配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- ===============第一个数据源MySQL的配置=============== -->
    <!--配置数据源 c3p0 连接池-->
    <bean id="dataSource2MySQL" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
        <property name="driverClass" value="${jdbc.mysql.driver}"/>
        <property name="jdbcUrl" value="${jdbc.mysql.url}"/>
        <property name="user" value="${jdbc.mysql.username}"/>
        <property name="password" value="${jdbc.mysql.password}"/>
        <property name="maxPoolSize" value="200"/>
        <property name="minPoolSize" value="10"/>
        <!--初始化时获取的连接数，取值应在minPoolSize与maxPoolSize之间。Default: 3 -->
        <property name="initialPoolSize" value="10"/>
        <property name="checkoutTimeout" value="60"/>
        <property name="unreturnedConnectionTimeout" value="25"/>
        <property name="maxIdleTimeExcessConnections" value="20"/>
        <property name="maxConnectionAge" value="20"/>
        <property name="idleConnectionTestPeriod" value="50"/>
        <property name="maxStatements" value="0"/>

    </bean>

    <!-- ===============第二个数据源SQLServer的配置=============== -->

    <!--配置数据源 c3p0 连接池-->
    <bean id="dataSource2SQLServer" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
        <property name="driverClass" value="${jdbc.sqlserver.driver}"/>
        <property name="jdbcUrl" value="${jdbc.sqlserver.url}"/>
        <property name="user" value="${jdbc.sqlserver.username}"/>
        <property name="password" value="${jdbc.sqlserver.password}"/>
        <property name="maxPoolSize" value="200"/>
        <!--初始化时获取的连接数，取值应在minPoolSize与maxPoolSize之间。Default: 3 -->
        <property name="initialPoolSize" value="10"/>
        <property name="minPoolSize" value="10"/>
        <property name="checkoutTimeout" value="60"/>
        <property name="unreturnedConnectionTimeout" value="25"/>
        <property name="maxIdleTimeExcessConnections" value="20"/>
        <property name="maxConnectionAge" value="20"/>
        <property name="idleConnectionTestPeriod" value="50"/>
        <property name="maxStatements" value="0"/>
    </bean>

    <!--将DynamicDataSource Bean加入到Spring的上下文xml配置文件中去，同时配置DynamicDataSource的targetDataSources(多数据源目标)属性的Map映射。-->

    <bean id="dataSource" class="com.system.util.DynamicDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="dataSource2MySQL" value-ref="dataSource2MySQL"/>
                <entry key="dataSource2SQLServer"  value-ref="dataSource2SQLServer" />
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSource2MySQL"/>
    </bean>

    <!--配置SqlSessionFactory-->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--加载mybatis配置文件-->
        <property name="configLocation" value="classpath:mybatis/mybatis.cfg.xml"/>
        <!--数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--Mapper批量扫描，从Mapper包扫描接口，自动创建代理对象，并在Spring容器中自动注册
    使用 Mybatis与Spring整合包的这个 Mapper 扫描器后， Mybatis 配置文件里的扫描器，就可以取消掉了
    遵循的规范 不变
    自动扫描出来的Mapper的bean的id为Mapper类名（首字母小写）
    -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--如果需要扫描多个报下的mapper,每个包中间使用半角逗号分开-->
        <property name="basePackage" value="com.system.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
    </bean>




</beans>